:root {
	--main-color:  #FFF;
	--secondary-color: #303030;
	--main-btn-color:  #FFF;
	--accent-color:  #FF6C00;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: 'open sans', sans-serif;
}
li {
   list-style: none;
}
.link {
    text-decoration: none;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

.section-title {
    font-family: Raleway, sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 2.1px;
}

.pre-title {
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.after-title {
    font-size: 18px;
    line-height: 1.67; /* 166.667% */
    letter-spacing: 0.36px;
}

.btn {
    font-family: inherit;
    min-width: 160px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    border-radius: 25px;
    border: 1px solid #FF6C00;
}

.btn:hover, .btn:focus {
    color: var(--accent-color);
}


/* --------------HEADER----------------- */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-link, .header-tel {
    color:var(--main-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
}

.header-link:hover, .header-link:focus, .header-tel:hover, .header-tel:focus{
    color: var(--accent-color);
}

.header {
    background-color: darkgrey;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-link.current {
    color: var(--accent-color);
}

.header-btn {
    color:var(--main-btn-color);
    min-width: 160px;
    height: 40px;
    background-color: transparent;
    margin-left: 40px;
    border-radius: 25px;
    border: 1px solid #FF6C00;
}

.header-logo {
    margin-right: 131px;
}


/* --------------HERO----------------- */
.hero {
    background-color: blue;
}

.hero-container {
    display: flex;
}

.hero-list {
    width: 100px;
}

.hero-wrap {
    background-color: #3d3e45;
    padding: 272px 100px 208px 100px;
    flex-grow: 1;
}


.hero-link {
    color:var(--secondary-color);
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.2px;
}

.hero-link:hover, .hero-link:focus{
    color:var(--accent-color);
}
.hero-pre-title {
    color: rgba(157, 164, 189, 0.60);
    margin-bottom: 20px;
}
.hero-title {
    color:var(--main-color);
    font-family: Raleway, sans-serif;
    font-size: 72px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
    margin-bottom: 20px;
}
.hero-after-title {
    color: #9DA4BD;
    max-width: 360px;
}

/* ------ABOUT--------- */

.about-container {
    display: flex;
    gap: 30px;
}
.about-list {
    display: flex;
    gap: 30px;
}
.about-wrap {
    max-width: 470px;
}
.about-pre-title {
    color:var(--secondary-color);
    margin-bottom: 20px;
}
.about-title {
    color: var(--secondary-color);
    margin-bottom: 20px;
}
.about-after-title {
    color: #555;
    margin-bottom: 20px;
    }
.about-text {
    color: #555;
    font-size: 14px;
    line-height: 1.86; /* 185.714% */
    letter-spacing: 0.28px;
    margin-bottom: 42px;
}
.about-btn {
    color:#303030;
}


/* ----------PRICES------------- */
.prices-wrap {
    display: flex;
    justify-content: space-between;

}
.prices {
    background-color: aquamarine;
}
.prices-pre-title {
    color: rgba(157, 164, 189, 0.60);
    margin-bottom: 20px;
}
.prices-title {
    color: var(--main-color);
    margin-bottom: 44px;
}
.prices-list {
    border: 1px solid green;
    padding: 30px 20px;
    width: calc((100% - 30px) / 2);
}
.prices-item {
    display: flex;
    justify-content: space-between;
}
.prices-item+.prices-item {
    margin-top: 20px;
}
.prices-list-text {
    color: #9DA4BD;
    font-size: 18px;
    line-height: 1.67; /* 166.667% */
    letter-spacing: 0.36px;
}
.prices-btn {
    color:var(--main-btn-color);
    margin: 0 auto;
    display: block;
    margin-top: 44px;
}

/* --------BENEFITS-------- */
.benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}
.benefits-list {
}

.benefits-item {
    width: 160px;
    height: 133px;
    border: 1px solid aquamarine;
    background: #F7F7F7;
    padding: 20px 24px;
    margin-top: 6px;
}


.benefits-item span{
    color: var(--secondary-color);
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
    display: block;
}
.benefits-item-text {
    color: #303030;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
}
.benefits-pre-title {
    color:var(--secondary-color);
    margin-bottom: 20px;
}
.benefits-title {
    color:var(--secondary-color);
    margin-bottom: 20px;
}
.benefits-after-title {
    color: #555;
}

/* --------  BARBERS  --------- */

.barbers {
}
.barbers-pre-title {
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.barbers-title {
    color: var(--secondary-color);
    margin-bottom: 44px;
}

.barbers-list {
    display: flex;
    gap: 30px;
}

.barbers-wrap{
    padding-top: 30px;
}
.barbers-item {
    width: calc((100% - 60px) / 3);
}
.barbers-item-title {
    color: var(--secondary-color);
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.36px;
    margin-bottom: 8px;
}
.barbers-item-text {
    color: var(--accent-color);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
}

/* ------GALLERY ----- */
.gallery {
}
.gallery-pre-title {
    color: var(--secondary-color);
    margin-bottom: 44px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.gallery-item {
    width: calc((100% - 90px) / 4);
}


/* ------ONLINE------- */
.online-title {
    color: var(--main-color);
}

/* ------CONTACTS----- */


.contacts {
    background-color: #FF6C00;
}
.contacts-title {
    color: var(--main-color);
    margin-bottom: 40px;
}

.contacts-address {
    margin-bottom: 20px;
}
.contacts-map-link {
    color: #9DA4BD;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
    letter-spacing: 0.36px;
    display: inline-block;
}

.contacts-list {
}

.contacts-item:not(:last-child) {
    margin-bottom: 20px;
}
.contacts-link {
    color: #9DA4BD;
    font-size: 18px;
    line-height: 1.67; /* 166.667% */
    letter-spacing: 0.36px;
}
.contacts-subtitle {
    color: #FFF;
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 20px;
}
.contacts-schedule {
    color: #9DA4BD;
    font-size: 18px;
    line-height: 1.67; /* 166.667% */
    letter-spacing: 0.36px;
}

.contacts-link:hover, .contacts-link:focus, .contacts-map-link:hover, .contacts-map-link:focus {
    color:var(--accent-color);
}

/* -------BOTTOM------ */
.bottom {
    padding: 56px 0;
}
.bottom-logo {
    color: #9DA4BD;
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.2px;
}
.bottom-list {
}

.bottom-item {
}
.bottom-link {
    color: var(--secondary-color);
    font-family: Open Sans, sans-serif;
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.2px;
}

.bottom-link:hover, .bottom-link:focus{
    color:var(--accent-color);
}

.bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}